{% extends 'base.html' %}

{% block title %}My Book Ranking{% endblock %}

{% block content %}
<div class="container">
  <h1 class="heading">My Book Ranking</h1>
  <p class="description">These are the rankings of the book i have read.</p>
    {% for data in db %}
  <div class="card" >
    <div class="front" style="background-image: url('{{data.img_url}}');">
        <p class="large">{{ data.ranking }}</p>
    </div>
    <div class="back">
      <div>
    <div class="title">{{ data.title }} <span class="release_date">({{ data.year }})</span></div>
        <div class="rating">
            <label>{{ data.rating }}</label>
          <i class="fas fa-star star"></i>
        </div>
        <p class="overview">
            {{ data.description }}
        </p>

        <a href="#" class="button">Update</a>
        <a href="#" class="button delete-button">Delete</a>

      </div>
    </div>
  </div>
    {% endfor %}
</div>
<div class="container text-center add">
<a href="#" class="button">Add Book</a>
</div>

{% endblock %}